<div class="ms-content-wrapper ms-auth">
    <div class="ms-auth-container">
        <div class="ms-auth-col">
            <div class="ms-auth-form">
                <form [formGroup]="loginForm" (validSubmit)="onSubmit()" class="clearfix">
                    <h1>Inicia sesión en cuenta</h1>
                    <p>Por favor ingrese su correo electrónico y su contraseña para continuar</p>
                    <div class="mb-3">
                        <label>Dirección de correo electrónico</label>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Dirección de correo electrónico"
                                formControlName="Email">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label>Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="ms-checkbox-wrap">
                            <input class="form-check-input" type="checkbox" value="">
                            <i class="ms-checkbox-check"></i>
                        </label>
                        <span> Recordar Password </span>
                        <label class="d-block mt-3"><a href="javascript:void(0)" class="btn-link"
                                (click)="open(modalone)">Olvidó Password?</a></label>
                    </div>
                    <button class="btn btn-primary mt-4 d-block w-100" type="submit">Iniciar sesión</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #modalone let-modal>
    <div class="modal-body text-center">
        <button type="button" class="close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
        <i class="flaticon-secure-shield d-block"></i>
        <h1>¿Has olvidado tu contraseña?</h1>
        <p> Ingrese su correo electrónico para recuperar su contraseña </p>
        <form>
            <div class="ms-form-group has-icon">
                <input type="text" placeholder="Email Address" class="form-control" name="forgot-password" value="">
                <i class="material-icons">email</i>
            </div>
            <button type="submit" class="btn btn-primary shadow-none">Reset Password</button>
        </form>
    </div>
</ng-template>
