<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">

            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Detalle de Artículo</h6>
                </div>
                <div class="ms-panel-body">
                    <form [formGroup]="defaultForm" (validSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-9 mb-3">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Nombre</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Sin nombre" disabled
                                                formControlName="descripcion" id="validationCustom01">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Identificador</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Sin identificador"disabled
                                                formControlName="articulo_id">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Categoria</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Sin Categoria"disabled
                                                formControlName="categoria">
                                        </div>
                                    </div>
                                    
                                  

                                </div>
                                <div class="form-row ">
                                    <div class="col-md-6 mb-3">
                                        <label>Receta</label>
                                        <div class="input-group">
                                            <textarea class="form-control" formControlName="info"disabled
                                                id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Sin Receta"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Preparación</label>
                                        <div class="input-group">
                                            <textarea class="form-control" formControlName="preparacion"disabled
                                                id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Sin Modo de Armado"></textarea>
                                        </div>
                                    </div>



                                </div>


                                
                                <div class="fondo-gris">
                                    
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover thead-primary mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Ingredientes</th>
                                                            <th scope="col">Cantidad</th>
                                                            <th scope="col">Unidad</th>
                                                            <th scope="col">Costo</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody id="body_tabla">
                                                        <tr *ngFor="let item of items">
                                                            <td>{{item.descripcion}}</td>
                                                            <td>{{item.cantidad}}</td>
                                                            <td>{{item.unidad}}</td>
                                                            <td>{{item.costo}}</td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label>Costo</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="number" class="form-control" placeholder="Sin Costo"disabled
                                                formControlName="costo">

                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 mb-3">
                                        <label>Precio</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="number" class="form-control" placeholder="Sin Precio"disabled
                                                formControlName="precio">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Margen</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="number" class="form-control" placeholder="Sin Margen"disabled
                                                formControlName="margen" >
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 derecha flotante">
                                        <button class="btn btn-primary" type="submit">Volver</button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 mb-3 derecha">
                                <img [src]="previewImagen == null ? './assets/img/costic/cereals.jpg' : previewImagen " id="foto_menu" class="img-thumbnail"
                                    style="text-align: right;" alt="Foto">
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>