<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Listado de Ventas</h6>
                </div>
                <div class="ms-panel-body">
                    <div class="table-responsive">
                        <table id="data-table-5" class="table w-100 thead-primary"></table>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3 col-md-6">
                            <input #search class="search" class="form-control" type="text" placeholder="Buscar..."
                                (keyup)="onSearch(search.value)">
                        </div>
                        <div class="col-lg-9 col-md-6" style="text-align: right;">
                            <button onClick="imprimirTodo('divImprimir','Listado de Ventas')"
                                class="btn btn-outline-light" style="min-width: fit-content;margin-top: 0"><i
                                    class="fa fa-print"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)"
                            class="table w-100 thead-primary"></ng2-smart-table>
                    </div>

                    <div class="table-responsive" style="display: none;">
                        <ng2-smart-table [settings]="settings2" [source]="source2" id="divImprimir"
                            class="table w-100 "></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>