<!-- Body Content Wrapper -->
<div class="ms-content-wrapper">
    <div class="row">
        <!-- <div class="col-xl-3 col-md-6" *ngFor="let item of statbox">
            <a routerLink="/">
                <div class="ms-panel ms-widget ms-panel-hoverable has-border ms-has-new-msg ms-notification-widget">
                    <span class="msg-count">{{item.notification}}</span>
                    <div class="ms-panel-body media">
                        <i class="material-icons">{{item.icon}}</i>
                        <div class="media-body">
                            <h6>{{item.title}}</h6>
                            <span>{{item.text}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div> -->

        <div class="col-xl-3 col-md-6">
            <a href="">
                <div class="ms-card card-gradient-success ms-widget ms-infographics-widget">
                    <div class="ms-card-body media">
                        <a class="media-body"  [routerLink]="['/ventas-list']">
                            <h6>Artículos Vendidos</h6>
                            <p class="ms-card-change"> {{platosVendidosWidget}}</p>
                            <p class="fs-12">Ventas último Mes</p>
                        </a>
                    </div>
                    <i class="flaticon-stats"></i>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="ms-card card-gradient-secondary ms-widget ms-infographics-widget">
                <div class="ms-card-body media">
                    <a class="media-body"  [routerLink]="['/ventas-list']">
                        <h6>ventas totales</h6>
                        <p class="ms-card-change"> {{ventasTotalesWidget}}</p>
                        <p class="fs-12">Ventas Totales</p>
                    </a>
                </div>
                <i class="flaticon-statistics"></i>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="ms-card card-gradient-warning ms-widget ms-infographics-widget">
                <div class="ms-card-body media">
                    <a class="media-body" [routerLink]="['/productos-list']">
                        <h6>Items de Stock</h6>
                        <p class="ms-card-change"> {{itemsDeStockWidget}}</p>
                        <p class="fs-12">Cantidad de Productos</p>
                    </a>
                </div>
                <i class="flaticon-list"></i>
            </div>
        </div>
        
            <div class="col-xl-3 col-md-6">
                <div class="ms-card card-gradient-info ms-widget ms-infographics-widget">
                    <div class="ms-card-body media">
                        <a class="media-body" [routerLink]="['/notificaciones-list']">
                            <h6>notificaciones</h6>
                            <p class="ms-card-change"> {{notificacionesWidget}}</p>
                            <p class="fs-12">Notificaciones Sin Leer</p>
                        </a>
                    </div>
                    <i class="flaticon-bell"></i>
                </div>
            </div>
       
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-widget ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Artículos</h6>
                    <p>Artículos mas vendidos</p>
                </div>
                <div class="ms-panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Artículo</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Representacion del total</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of top5Platos">
                                    <td>{{item.descripcion}}</td>
                                    <td>{{item.cantidadVentas | number:'1.2-2'}}</td>
                                    <td>{{item.porcentaje | number:'1.2-2'}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--  Pie Chart -->
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Ventas</h6>
                    <p>Categorias más Vendidas</p>
                </div>
                <div class="ms-panel-body">
                    <div class="row">

                        <div class="col-xl-12 col-md-12">
                            <canvas baseChart [datasets]="PieChartData" [labels]="PieChartLabels"
                                [options]="PieChartOptions" [chartType]="PieChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Line Chart -->
        <div class="col-xl-12 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Ventas</h6>
                    <p>Volumen de ventas ingresadas</p>
                </div>
                <div class="ms-panel-body">
                    <canvas baseChart [datasets]="UsertrafficChartData" [labels]="UsertrafficChartLabels"
                        [options]="UsertrafficChartOptions" [chartType]="lineChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <!--  <div class="col-xl-5 col-md-12">
            <div class="ms-panel ms-panel-fh ms-facebook-engagements">
                <div class="ms-panel-header">
                    <h6>Ventas por Plato</h6>
                    <p>Historico</p>
                </div>
                <div class="ms-panel-body p-0">
                    <div class="ms-facebook-page-selection">
                        
                        <span>Productos: </span>
                        <select class="form-control" (change)="selectPlato($event)" >
                            <option [value]=plato.id *ngFor="let plato of platos">
                                {{plato.descripcion}}
                            </option>

                        </select>
                    </div>
                     <ul class="ms-list clearfix">
                        <li class="ms-list-item">
                            <div class="d-flex justify-content-between align-items-end">
                                <div class="ms-graph-meta">
                                    <h2>Enero, 2022</h2>
                                    
                                </div>
                                <div class="ms-graph-canvas">
                                    <canvas baseChart  [datasets]="engagedChartData" [labels]="UserpchChartLabels"
                                        [options]="UserpchChartOptions"  [chartType]="lineChartType">
                                    </canvas>
                                </div>
                                <div class="ms-graph-canvas">
                                    <canvas baseChart id="grafico" [datasets]="engagedChartData" [labels]="UserpchChartLabels"
                                        [options]="UserpchChartOptions"  [chartType]="lineChartType">
                                    </canvas>
                                </div>
                            </div>
                        </li>
                         <li class="ms-list-item">
                            <div class="d-flex justify-content-between align-items-end">
                                <div class="ms-graph-meta">
                                    <h2>Febrero, 2022</h2>
                                    
                                </div>
                                <div class="ms-graph-canvas">
                                    <canvas baseChart [datasets]="pageimmpChartData" [labels]="UserpchChartLabels2"
                                        [options]="UserpchChartOptions" [chartType]="lineChartType">
                                    </canvas>
                                </div>
                            </div>
                        </li> 
                    </ul> 
                </div>
            </div>
        </div>  -->

    </div>
</div>