<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>{{titulo}} Categoria de Menú</h6>
                </div>
                <div class="ms-panel-body">
                    <form [formGroup]="defaultForm" (validSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Nombre</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Ingrese Nombre"
                                        formControlName="descripcion" id="validationCustom01">
                                </div>
                            </div>
                           

                        </div>
                                              
                        <div class="row" *ngIf="!update">
                            <div class="col-md-12 derecha">
                                <button class="btn btn-primary" type="submit" (click)="guardar('agregar')"
                                    value="Continuar">Agregar <i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                        <div class="row"  *ngIf="!update">
                            <div class="col-md-12 derecha">
                                <button class="btn btn-primary" type="button"(click)="guardarABase()" 
                                    >Guardar y Salir</button>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 derecha">
                                <button class="btn btn-primary" type="submit" 
                                    >Guardar</button>
                            </div>

                        </div>

                    </form>
                    <div class="row mt-5" *ngIf="!update" >
                        <div class="col-md-12">
                            <div class="table">
                                <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)"
                                    class="table  thead-primary"></ng2-smart-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>