<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">

            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>{{titulo}} Producto</h6>
                </div>
                <div class="ms-panel-body">
                    <form [formGroup]="defaultForm" (validSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Nombre</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Ingrese Nombre"
                                        formControlName="descripcion" id="validationCustom01">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Unidad de medida</label>
                                <div class="input-group">
                                    <select class="form-control" aria-label="UnidadMedida" id="validationCustom02"
                                        formControlName="unidad">                                        
                                        <option [value]=unidad.id *ngFor="let unidad of unidades">{{unidad.descripcion}}</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                               <label for="validationCustom03">Avisar Bajo Stock</label>
                                <div class="form-group">
                                     
                                    <input type="checkbox" class="form-check-input centrar" placeholder="Ingrese Nombre"
                                        formControlName="bajoStock" id="validationCustom03">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04">Cantidad Minima Stock</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Ingrese Cantidad"
                                        formControlName="margenStock" id="validationCustom04">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom05">Dias de Aviso Previo Vencimiento Mercaderia </label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Ingrese cuantos dias antes del vencimiento desea recibir un aviso"
                                        formControlName="margenVencimiento" id="validationCustom05">
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-12 derecha">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>