<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Crear Nuevo Usuario</h6>
                </div>
                <div class="ms-panel-body">
                    <form [formGroup]="defaultForm" (validSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Nombre</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Ingrese Nombre"
                                        formControlName="nombre" id="validationCustom01">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Apellido</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Ingrese Apellido"
                                        formControlName="apellido">
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Ingrese Email"
                                        formControlName="email">
                                        <div class="invalid-feedback">Ingrese Mail valido</div>
                                        
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>Contraseña</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Ingrese Contraseña"
                                        formControlName="password">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>Confirmar Contraseña</label>
                                <div class="input-group">
                                    <input type="password" class="form-control"  placeholder="Confirme Contraseña"
                                        formControlName="password2"> 
                                      
                                       
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-row ">
                            <div class="col-md-4 mb-3">
                                <label>Tipo de usuario</label>
                                <select class="form-control" formControlName="rol">
                                    <option [value]=rol.id *ngFor ="let rol of roles" >{{rol.nombre}}</option>

                                </select>
                            </div>
                            
                            <div class="col-md-8 mb-3 " style="text-align: right;">
                                <label>Habilitar Usuario</label>
                                <div class="sitwchCentrar">
                                    <label class="ms-switch">
                                        <input type="checkbox" formControlName="estado">
                                        <span class="ms-switch-slider round"></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 derecha">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>